/** @format */

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-dreams {
    background-color: #6f7df4 !important;
    color: white;
}
.btn-dreams:hover {
    background-color: #8c94dc !important;
}
